/*****
COLORS
 */
/******
SPACING
 */
/**
BOX-SHADOW
 */
/*******
 BORDERS
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}
a:link, a:visited {
  color: inherit;
}

.link {
  width: 220px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #9356dc;
  background: linear-gradient(to top left, #9356dc 0%, #ff79da 100%);
  background: -moz-linear-gradient(to top left, #9356dc 0%, #ff79da 100%);
  background: -webkit-linear-gradient(to top left, #9356dc 0%, #ff79da 100%);
  color: white;
  margin: 20px 0;
  padding: 16px;
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: all 0.3s;
}
.link:hover {
  cursor: pointer;
  opacity: 0.9;
  -webkit-box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

/*************
 MEDIA QUERIES
 */
/* DESKTOP */
@media screen and (min-width: 992px) {
  .link {
    font-size: large;
    font-weight: 400;
    width: 260px;
  }
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  /* MENU PAGES */
}
.header img {
  width: 175px;
}
.header .image-wrapper {
  width: 100%;
}
.header .image-wrapper img {
  width: 100%;
}

.location {
  background-color: #eaeaea;
  padding: 20px;
  width: 100%;
  text-align: center;
}
.location .desktop {
  display: none;
}
.location span {
  margin-left: 14px;
  font-weight: 500;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  padding: 20px 20px 40px;
  text-align: center;
}
.navigation h1 {
  font-weight: 500;
  padding: 0 45px;
}
.navigation p {
  font-weight: 300;
  letter-spacing: 1px;
}

/*************
 MEDIA QUERIES
 */
/* DESKTOP */
@media screen and (min-width: 992px) {
  .header img {
    width: 30%;
  }

  .location .mobile {
    display: none;
  }
  .location .desktop {
    display: initial;
  }
  .location span {
    font-size: large;
  }

  .navigation h1 {
    font-size: xx-large;
  }
  .navigation p {
    font-size: large;
    font-weight: 400;
  }
}
.header .logo-container {
  width: 100%;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 14px;
  text-align: center;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  /* To allow box-shadow to cover div below */
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.footer .logo-container {
  margin-bottom: 10px;
}

/*************
 MEDIA QUERIES
 */
/* TABLETS */
@media screen and (min-width: 768px) {
  .footer .logo-container {
    margin-bottom: 20px;
  }
}
.cards-wrapper {
  display: flex;
  gap: 26px;
  /* "FONCTIONNEMENT" SECTION */
  /* "RESTAURANTS" SECTION */
}
.cards-wrapper--how-it-works {
  flex-direction: column;
}
.cards-wrapper--restaurants {
  flex-wrap: wrap;
}

.card {
  display: flex;
  /* "FONCTIONNEMENT" SECTION */
  /* "RESTAURANTS" SECTION */
}
.card--how-it-works {
  justify-content: space-around;
  align-items: center;
  flex: 1 1 30%;
  background-color: #f6f6f6;
  margin-left: 14px;
  /* Needed because numbers overlap the card
     and must be aligned with h2 subtitle and content below */
  padding: 14px 20px;
  border-radius: 25px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.18);
  position: relative;
  /* Needed to position span elements with numbers */
}
.card--how-it-works span {
  position: absolute;
  left: -14px;
  background-color: #9356dc;
  color: white;
  padding: 5px 10px;
  /* padding & line-height values needed */
  line-height: 1.2;
  /* to make a perfect circle */
  border-radius: 25px;
  font-size: 13px;
}
.card--how-it-works i {
  flex: 1 1 25%;
  color: #9356dc;
}
.card--how-it-works p {
  flex: 1 1 75%;
  font-weight: 500;
}
.card--restaurant {
  height: 252px;
  flex-direction: column;
  flex: 1 1 100%;
  border-radius: 20px;
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.18);
}

/* "RESTAURANTS" SECTION */
.restaurant__image {
  height: 70%;
  position: relative;
}
.restaurant__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant__image span {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: #99e2d0;
  border-radius: 2px;
  color: green;
  padding: 8px 12px;
}
.restaurant__placeholder-image {
  /* REMOVE WHEN DONE */
  background-color: #eaeaea;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.restaurant__details {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 0 0 20px 20px;
}
.restaurant__description {
  padding: 0 14px;
}
.restaurant__description h3, .restaurant__description p {
  margin: 6px 0;
}
.restaurant__description p {
  font-weight: 300;
}
.restaurant__like {
  padding: 0 26px;
}
.restaurant__like > i.far.fa-heart {
  position: relative;
  left: 25px;
  transition: opacity 0.6s;
}
.restaurant__like > i.fas.fa-heart {
  color: #9356dc;
  opacity: 0;
  transition: opacity 0.6s;
}
.restaurant__like:hover {
  cursor: pointer;
}
.restaurant__like:hover > i.far.fa-heart {
  opacity: 0;
  transition: opacity 0.6s;
}
.restaurant__like:hover > i.fas.fa-heart {
  /* Should fill in with linear-gradient */
  opacity: 1;
  transition: opacity 0.6s;
}

/*************
 MEDIA QUERIES
 */
/* TABLETS */
@media screen and (min-width: 768px) {
  .cards-wrapper--how-it-works {
    flex-direction: initial;
    justify-content: space-between;
    gap: 20px;
  }

  .card {
    /* "FONCTIONNEMENT" SECTION */
    /* "RESTAURANTS" SECTION */
  }
  .card--how-it-works i {
    flex: 1 1 30%;
  }
  .card--how-it-works p {
    flex: 1 1 70%;
  }
  .card--restaurant {
    flex: 1 1 48%;
  }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
  .card {
    /* "FONCTIONNEMENT" SECTION */
  }
  .card--how-it-works span {
    font-size: 16px;
  }
  .card--how-it-works p {
    font-size: 18px;
  }

  /* "RESTAURANTS" SECTION */
  .restaurant__description h3 {
    font-size: 22px;
  }
  .restaurant__description p {
    font-weight: 400;
  }
}
.footer {
  background-color: #353535;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 24px;
}
.footer .container {
  display: flex;
  flex-direction: column;
}
.footer img {
  width: 108px;
  height: auto;
}
.footer ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 8px;
  list-style: none;
  margin: 8px 0;
  padding: 0;
}
.footer li {
  flex: 1 1 50%;
  margin: 0;
}
.footer a {
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}
.footer a:hover {
  border-bottom: 1px solid #ff79da;
  color: #ff79da;
  transition: all 0.3s;
}
.footer i {
  width: 20px;
  /* Important to align text to the left */
  margin-right: 10px;
}

/*************
 MEDIA QUERIES
 */
/* TABLETS */
@media screen and (min-width: 768px) {
  .footer ul {
    gap: 0;
    height: 75px;
  }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
  .footer {
    padding: 40px;
  }
  .footer img {
    width: 20%;
  }
  .footer ul {
    flex-flow: row nowrap;
    justify-content: space-between;
    height: auto;
  }
  .footer li {
    flex: initial;
  }
}
.homepage-section {
  font-family: "Roboto", sans-serif;
  padding: 30px 24px 70px;
}

/* "FONCTIONNEMENT" SECTION */
.how-it-works {
  background-color: white;
  max-width: 1400px;
  margin: 0 auto;
}
.how-it-works h2 {
  margin-bottom: 26px;
}

/* "RESTAURANTS" SECTION */
.restaurants {
  background-color: #f6f6f6;
}

/*************
 MEDIA QUERIES
 */
/* DESKTOP */
@media screen and (min-width: 992px) {
  .homepage-section {
    padding-left: 40px;
    padding-right: 40px;
  }
  .homepage-section h2 {
    font-size: 28px;
  }
}

/*# sourceMappingURL=main.css.map */
