.header {
  & .logo-container {
    width: 100%;
    margin: 0;
    padding-top: calc($padding * 1.25);
    padding-bottom: calc($padding * 0.7);
    text-align: center;
    -webkit-box-shadow: $box-shadow-container;
    -moz-box-shadow: $box-shadow-container;
    box-shadow: $box-shadow-container;
    z-index: 10; /* To allow box-shadow to cover div below */
  }
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.footer {
  & .logo-container {
    margin-bottom: 10px;
  }
}

/* MENU PAGES */
.top-bar-wrapper {
  display: flex;
  width: 100%;
  position: relative;

  & .back-home {
    position: absolute;
    top: 40%;
    left: 24px;

    & a {
      color: black;
      transition: color 0.3s;

      &:hover {
        cursor: pointer;
        color: $color-primary;
      }
    }
  }

  & .logo-container {
    flex: 1 0 100%;
    box-shadow: initial;
    z-index: initial;
  }
}

/*************
 MEDIA QUERIES
 */

/* TABLETS */
@media screen and (min-width: 768px) {
  .footer {
    & .logo-container {
      margin-bottom: 20px;
    }
  }
}
