.logo-container {
  margin: 0;
  padding-top: calc($padding * 1.25);
  padding-bottom: calc($padding * 0.7);
  text-align: center;
  -webkit-box-shadow: $box-shadow-container;
  -moz-box-shadow: $box-shadow-container;
  box-shadow: $box-shadow-container;
  z-index: 10; /* To allow box-shadow to cover div below */
}