@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(3turn);
  }
}

@keyframes vanish {
  to {
    height: 0;
  }
}

.load {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: aliceblue;
  animation: vanish 0.3s 3s forwards;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 200;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border-top: 16px solid $color-primary;
  border-bottom: 16px solid $color-secondary;
  border-left: 16px solid ghostwhite;
  border-right: 16px solid ghostwhite;
  border-radius: 50%;
  animation: spin 1s ease 3, vanish 0.3s 3s forwards;
}
