/*****
COLORS
 */
/******
SPACING
 */
/**
BOX-SHADOW
 */
/*******
 BORDERS
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.button {
  width: 220px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #9356DC;
  background: linear-gradient(to top left, #9356DC 0%, #FF79DA 100%);
  background: -moz-linear-gradient(to top left, #9356DC 0%, #FF79DA 100%);
  background: -webkit-linear-gradient(to top left, #9356DC 0%, #FF79DA 100%);
  color: white;
  margin: 20px 0;
  padding: 16px;
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: all 0.3s;
}
.button:hover {
  cursor: pointer;
  opacity: 0.9;
  -webkit-box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.header img {
  width: 175px;
}

.location {
  background-color: #EAEAEA;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.location span {
  margin-left: 14px;
  font-weight: 500;
}

.navigation {
  width: 100%;
  background-color: #F6F6F6;
  padding: 20px 20px 40px;
  text-align: center;
}

.navigation h1 {
  font-weight: 500;
  padding: 0 45px;
}

.navigation p {
  font-weight: 100;
  letter-spacing: 1px;
}

/* Only applies to header logo */
.logo-container {
  width: 100%;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 14px;
  text-align: center;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  /* To allow box-shadow to cover div below */
}

/* Only applies to How it works section */
.how-it-works__cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/*************
 MEDIA QUERIES
 */
/* TABLETS */
@media screen and (min-width: 768px) {
  .how-it-works__cards-wrapper {
    flex-direction: initial;
    justify-content: space-between;
    gap: 20px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 24px;
}
.footer img {
  width: 33%;
  height: auto;
}
.footer ul {
  list-style: none;
  margin: 8px 0;
  padding: 0;
}
.footer li {
  margin: 10px 0;
}
.footer i {
  width: 20px;
  /* Important to align text to the left */
  margin-right: 10px;
}

.homepage-section {
  font-family: "Roboto", sans-serif;
  padding: 30px 24px 70px;
}

/* "FONCTIONNEMENT" SECTION */
.how-it-works {
  background-color: white;
}
.how-it-works h2 {
  margin-bottom: 26px;
}
.how-it-works__card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 30%;
  background-color: #F6F6F6;
  margin-left: 14px;
  /* Needed because numbers overlap the card
  and must be aligned with h2 subtitle and content below */
  padding: 14px 20px;
  border-radius: 25px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.18);
  position: relative;
  /* Needed to position span elements with numbers */
}
.how-it-works__card span {
  position: absolute;
  left: -14px;
  background-color: #9356DC;
  color: white;
  padding: 5px 10px;
  /* padding & line-height values needed */
  line-height: 1.2;
  /* to make a perfect circle */
  border-radius: 25px;
  font-size: 13px;
}
.how-it-works__card i {
  flex: 1 1 25%;
  color: #9356DC;
}
.how-it-works__card p {
  flex: 1 1 75%;
  font-weight: 500;
}

/* "RESTAURANTS" SECTION */
.restaurants {
  background-color: #F6F6F6;
}
.restaurants__card {
  height: 252px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.18);
}
.restaurants__card:not(:last-of-type) {
  margin-bottom: 26px;
}
.restaurants__image {
  height: 70%;
  position: relative;
}
.restaurants__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants__image span {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: #99E2D0;
  border-radius: 2px;
  color: green;
  padding: 8px 12px;
}
.restaurants__placeholder-image {
  /* REMOVE WHEN DONE */
  background-color: #EAEAEA;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.restaurants__details {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 0 0 20px 20px;
}
.restaurants__description {
  padding: 0 14px;
}
.restaurants__description h3, .restaurants__description p {
  margin: 6px 0;
}
.restaurants__description p {
  font-weight: 100;
}
.restaurants__like {
  padding: 0 26px;
}
.restaurants__like > i.far.fa-heart {
  position: relative;
  left: 25px;
  transition: opacity 0.6s;
}
.restaurants__like > i.fas.fa-heart {
  color: #9356DC;
  opacity: 0;
  transition: opacity 0.6s;
}
.restaurants__like:hover {
  cursor: pointer;
}
.restaurants__like:hover > i.far.fa-heart {
  opacity: 0;
  transition: opacity 0.6s;
}
.restaurants__like:hover > i.fas.fa-heart {
  /* Should fill in with linear-gradient */
  opacity: 1;
  transition: opacity 0.6s;
}

/*************
 MEDIA QUERIES
 */
/* TABLETS */
@media screen and (min-width: 768px) {
  /* "FONCTIONNEMENT" SECTION */
  .how-it-works__card i {
    flex: 1 1 30%;
  }
  .how-it-works__card p {
    flex: 1 1 70%;
  }
}

/*# sourceMappingURL=styles.css.map */
