.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: hsla(267, 66%, 60%, 1);
  background: linear-gradient(to top left, hsla(267, 66%, 60%, 1) 0%, hsla(317, 100%, 74%, 1) 100%);
  background: -moz-linear-gradient(to top left, hsla(267, 66%, 60%, 1) 0%, hsla(317, 100%, 74%, 1) 100%);
  background: -webkit-linear-gradient(to top left, hsla(267, 66%, 60%, 1) 0%, hsla(317, 100%, 74%, 1) 100%);
  color: white;
  margin: 20px 0;
  padding: $padding calc($padding * 1.25);
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: $box-shadow-button;
  -moz-box-shadow: $box-shadow-button;
  box-shadow: $box-shadow-button;
}