.link {
  width: 220px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: $color-primary;
  background: linear-gradient(to top left, $color-primary 0%, $color-secondary 100%);
  background: -moz-linear-gradient(to top left, $color-primary 0%, $color-secondary 100%);
  background: -webkit-linear-gradient(to top left, $color-primary 0%, $color-secondary 100%);
  color: white;
  margin: 20px 0;
  padding: 16px;
  border: none;
  border-radius: $border-radius-button;
  -webkit-box-shadow: $box-shadow-button;
  -moz-box-shadow: $box-shadow-button;
  box-shadow: $box-shadow-button;
  opacity: 1;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
    -webkit-box-shadow: $box-shadow-button-hover;
    -moz-box-shadow: $box-shadow-button-hover;
    box-shadow: $box-shadow-button-hover;
    transition: all 0.3s;
  }
}

/*************
 MEDIA QUERIES
 */

/* DESKTOP */
@media screen and (min-width: 992px) {
  .link {
    font-size: large;
    font-weight: 400;
    width: 260px;
  }
}
