.homepage-section {
  font-family: 'Roboto', sans-serif;
  padding: calc($padding * 1.5) calc($padding * 1.2) calc($padding * 3.5);
}

/* "FONCTIONNEMENT" SECTION */
.how-it-works {
  background-color: white;

  & h2 {
    margin-bottom: $margin;
  }
}

/* "RESTAURANTS" SECTION */
.restaurants {
  background-color: $color-grey-light;
}
