/*****
COLORS
 */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey-medium: #EAEAEA;
$color-grey-light: #F6F6F6;
$color-footer-background: #353535;

/******
SPACING
 */
$margin: 26px;
$padding: 20px;
$gap: 26px;

/**
BOX-SHADOW
 */
$box-shadow-container: 0 2px 6px 0 rgba(0,0,0,0.2);
$box-shadow-button: 0 8px 14px 0 rgba(0,0,0,0.2);
$box-shadow-button-hover: 0 8px 14px 0 rgba(0,0,0,0.3);
$box-shadow-how-it-works-item: 0 3px 16px 0 rgba(0,0,0,0.18);
$box-shadow-card-restaurant: 0 6px 10px 2px rgba(0,0,0,0.18);

/*******
 BORDERS
 */
$border-radius-button: 50px;
$border-radius-card: 20px;
$border-radius-image: 20px 20px 0 0;
$border-radius-details: 0 0 20px 20px;