/*****
COLORS
 */
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-grey-medium: #eaeaea;
$color-grey-light: #f6f6f6;
$color-footer-background: #353535;
$color-primary-secondary-gradient: linear-gradient(
  to top left,
  $color-primary 0%,
  $color-secondary 100%
);

/******
SPACING
 */
$margin: 26px;
$padding: 20px;
$padding-section: 30px 24px 70px;
$gap: 26px;

/**
BOX-SHADOW
 */
$box-shadow-container: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
$box-shadow-button: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
$box-shadow-button-hover: 0 8px 14px 0 rgba(0, 0, 0, 0.3);
$box-shadow-how-it-works-item: 0 3px 16px 0 rgba(0, 0, 0, 0.18);
$box-shadow-card-restaurant: 0 6px 10px 2px rgba(0, 0, 0, 0.18);

/*******
 BORDERS
 */
$border-radius-button: 50px;
$border-radius-card: 20px;
$border-radius-image: 20px 20px 0 0;
$border-radius-details: 0 0 20px 20px;

/**********
 DIMENSIONS
 */
$menu-card-height: 70px;
$details-width: 82%;

/**********
 BREAKPOINTS
 */
$screen-width-tablets: 768px;
$screen-width-desktops: 992px;
